<div class="container pt-3 pb-3">
	<div class="card p-3">
		<div class="d-flex flex-row justify-content-between align-items-center mb-3 ps-3 pe-3">
			<h1 class="text-primary">Respostas dos Convidados</h1>
			<div>
				<button class="btn btn-primary" (click)="refresh()" title="Atualizar">
					<fa-icon [icon]="faRefresh"></fa-icon>
					Atualizar
				</button>
			</div>
		</div>

		<div class="w-100 overflow-auto py-2">
			<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border table-striped table-bordered">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Nome do Acompanhante</th>
						<th>Mensagem</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let answer of answers">
						<td>{{ answer.name }}</td>
						<td>{{ answer.plusOne }}</td>
						<td>{{ answer.message }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
